body {
    background-color: black;
    color: antiquewhite;
}

.gameboard {
    display: flexbox;
}

.card {
    display: inline-block;
    border-color: blue;
    border-width: 2px;
    border-style: solid;
    background-color: bisque;
    color: blueviolet; /*text color*/
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    margin: 10px;
    border-radius: 6px;
}

#start-game {
    background-color: rgba(0, 106, 255, 0.659);
    border-radius: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
#start-game:hover {
    background-color: rgba(3, 108, 255, 0.978);
}
#difficulty-selector label {
    font-size: small;
}
label[for="easy"] {
    /* color: green */
    font-family: Arial, Helvetica, sans-serif;
}
label[for="med"] {
    /* color: yellow; */
    font-family: Arial, Helvetica, sans-serif;
}
label[for="hard"] {
    /* color: red; */
    font-family: Arial, Helvetica, sans-serif;
}