body {
    background-color: black;
    color: antiquewhite;
}

.lr-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.left-column {
    flex: 7;
    min-width: 0;
}

.right-column {
    flex: 3;
    min-width: 0;
}

.game-container {
    width: 80%;
    /* display: grid; */
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    max-width: 600px;
    margin: 0 auto;
}

.card {
    display: flex;
    justify-content: center;
    position:relative;
    border-color: blue;
    border-width: 2px;
    border-style: solid;
    background-color: rgb(24, 177, 219); 
    color: antiquewhite; 
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    font-size: 4vw; 
    margin: 5px; 
    border-radius: 5px;
    box-sizing: border-box; 
}
.cover {
    position: absolute;
    fill-opacity: 1.0;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(65, 86, 206); 
    border-radius: 5px;
}
#start-game {
    background-color: rgba(0, 106, 255, 0.659);
    border-radius: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
#start-game:hover {
    background-color: rgba(3, 108, 255, 0.978);
}
#difficulty-selector label {
    font-size: small;
}
label[for="easy"] {
    font-family: Arial, Helvetica, sans-serif;
}
label[for="med"] {
    font-family: Arial, Helvetica, sans-serif;
}
label[for="hard"] {
    font-family: Arial, Helvetica, sans-serif;
}

#guesses-counter {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: antiquewhite;
    margin: 10px 0;
    text-align: center;
}